@media (prefers-color-scheme: dark) {
  :root {
    --theme-surface: #181818;
    --theme-title: #eeeeee;
    --theme-subtitle: #eeeeee;
    --theme-seperation: #282828;
  }
}
body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background: var(--theme-surface);
}
.banner {
  margin: 0px;
  background-color: var(--theme-surface);
  height: 7%;
  padding: 1px;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  border-bottom: 2px solid #ccc;
}

.dot {
  color: purple;
  font-size: 36px;
  line-height: 0.6;
  margin-left: 5px;
  margin-right: 5px;
}
#map {
  height: 89%;
}
.resetMap {
  height: 6%;
  position: relative;
}

@media (max-width: 880px) {
  /* Reglas CSS para teléfonos móviles */
  .btn{
    font-size: 15px;
  }
  .banner{
    font-size: 10px;
  }
}

@media (max-width: 1080px) {
  /* Reglas CSS para tabletas */
  .banner{
    font-size: 50px;
  }
}